@import "tailwindcss";

@theme {
    --color-brand-purple: #9800f7;
    --font-sans: "Bricolage Grotesque", ui-sans-serif, system-ui, sans-serif;
}

@layer base {

    html,
    body {
        font-family: "Bricolage Grotesque", var(--font-sans) !important;
        background-color: #f6effd;
        /* light purple */
        color: #000000;
        /* gray-900 */
        transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 300ms;
    }

    .dark body {
        background-color: #110b18;
        /* deep purple */
        color: #F3F4F6;
        /* gray-100 */
    }
}

@layer utilities {
    .animate-fade-in-up {
        animation: fadeInUp 1s ease-out forwards;
    }

    .animate-wave {
        animation: wave 2.5s infinite;
    }

    @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translateY(20px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes wave {

        0%,
        100% {
            transform: rotate(0deg);
        }

        20% {
            transform: rotate(14deg);
        }

        40% {
            transform: rotate(-4deg);
        }

        60% {
            transform: rotate(10deg);
        }

        80% {
            transform: rotate(-2deg);
        }
    }

    @keyframes typing {
        0% {
            width: 0
        }

        70%,
        90% {
            width: 100%
        }

        100% {
            width: 0
        }
    }

    @keyframes blink {

        from,
        to {
            border-color: transparent
        }

        50% {
            border-color: var(--color-brand-purple)
        }
    }

    .animate-typing {
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        border-right: 3px solid var(--color-brand-purple);
        animation:
            typing 6s steps(40, end) infinite,
            blink .75s step-end infinite;
        vertical-align: bottom;
    }
}